@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar:hover {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

:root,
body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  background-color: rgba(216, 224, 255, 0.3);
  font-family: "Ubuntu", serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/travelbg.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

h2 {
  font-family: "Raleway", serif;
}

.hero-text h2 {
  line-height: 130%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.685);
}

.hot-dest {
  position: relative;
  background-image: linear-gradient(rgba(0, 10, 23, 0.7), rgba(1, 6, 25, 0.7)),
    url("/destinationBg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-section {
  position: relative;
  height: 99vh;
  overflow: hidden;
  border-radius: 0% 0% 40% 40% / 10% 10% 10% 10%;
}

.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99vh;
  background: linear-gradient(rgba(0, 1, 44, 0.1), rgba(0, 7, 39, 0.6));
  z-index: 1;
  border-radius: 0% 0% 40% 40% / 10% 10% 10% 10%;
}

.hot-dest h2 .dest-head {
  text-shadow: 1px 1px 6px rgba(91, 24, 2, 0.4);

  background: linear-gradient(90deg, yellow, orangered);
  font-family: "Lobster", serif;
  font-weight: 500;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.stroked-text {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    2px 2px 0 black;
}

.loading-area {
  display: grid;
  place-items: center;
  height: 30vh;
}

.loader div {
  transform: scale(0);
  animation: animate 1.5s ease-in-out infinite;
  box-shadow: 0 0 10px rgba(63, 9, 157, 0.6);
}

@keyframes animate {
  0%,
  100% {
    transform: scale(0.2);
    background-color: #fff;
    opacity: 0;
  }

  40% {
    transform: scale(1);
    background-color: rgb(76, 223, 43);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    background-color: rgb(190, 46, 46);
    opacity: 0.9;
  }
}

.dest-card-text {
  font-family: "Caveat", cursive;
  font-weight: 700;
}

.embla__hero {
  overflow: hidden;
}

.embla__slide__hero {
  position: relative;
  flex: 0 0 100%;
}

.embla {
  overflow: hidden;

  --slide-spacing: 3rem;
  --slide-size: 28%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

@media (max-width: 640px) {
  .embla__slide {
    flex: 0 0 90%;
  }

  .hero-section {
    border-radius: 0% 0% 49% 49% / 10% 10% 15% 15%;
  }
  .hero-section::before {
    border-radius: 0% 0% 49% 49% / 10% 10% 15% 15%;
  }
}

.embla__button {
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}

.travel-news h2 {
  text-shadow: 5px 5px 7px rgba(27, 12, 192, 0.592);
}

.news-card .news-wrapper:hover .news-data {
  transform: translateY(0);
}

.news-card .news-read-btn::after {
  content: "↗";
  font-size: 20px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

.news-card .news-read-btn:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.create-trip-cont {
  background-image: url("/skybg.jpg");
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
}
