@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* .header {
  box-shadow: 0px 2px 30px -5px rgba(0, 0, 0, 0.534); 
} */

:root,
body {
  position: relative;
  margin: 0;
  min-height: 100vh; /* Change height to min-height to allow scrolling */
  overflow: auto; /* Ensure content that overflows is scrollable */
  background-color: rgba(174, 188, 252, 0.3);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/travelbg.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5; /* Adjust the value to change opacity */
  z-index: -1;
}

.hero-text h2 {
  font-family: "Philosopher", serif;
  line-height: 130%;
}

.stroked-text {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    2px 2px 0 black;
}

.loading-area {
  display: grid;
  place-items: center;
  height: 30vh;
}

.loader div {
  transform: scale(0);
  animation: animate 1.5s ease-in-out infinite;
  box-shadow: 0 0 10px rgba(63, 9, 157, 0.6);
}

@keyframes animate {
  0%,
  100% {
    transform: scale(0.2);
    background-color: #fff;
    opacity: 0;
  }

  40% {
    transform: scale(1);
    background-color: rgb(76, 223, 43);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    background-color: rgb(190, 46, 46);
    opacity: 0.9;
  }
}
